.jack1{
 margin-left:7%;
 margin-top:3%;
}
.jack2{
margin-right:5%;
margin-top:-3%;
}

.jeez{
margin-left:8%;
}

.jeez1{
margin-left:35%;
margin-top:-14%;
}

.jenny{
margin-top:10%;
background:#A32911;
height:5%;
}
.jenny1{
margin-top:10%;
margin-left:20%;
background:#A32911;
height:5%;
}

.jen{
margin-top:2%;
}
